
* {
    margin: 0;
    padding: 0;
}

/* header styling start */
header {
    background-color: #5C5B5D;
    padding: 20px 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    color: #5C5B5D;
    margin: 0;
    display: inline;
}

header a {
    color: #AEED8A;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 5px;
    font-size: 22px;
}
/* header styling end */

/* title styling start */ 
.section-title {
    font-size: 36px;
    border-right: solid;
    color: #5C5B5D;
}
/* title styling end */ 


/* footer styling start */
footer {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

footer h2 {
    padding: 25px; 
    display: flex;
}

footer a {
    color: #5C5B5D;
    text-decoration: underline;
    margin: 0 100px;
    font-size: 24px;
    flex-wrap: wrap;

}
/* footer styling end */ 