* {
    margin: 0;
    padding: 0;
}

body, body a{
    color: #5C5B5D;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

body a{
    text-decoration: underline;
}

/* header styling start */
header {
    background-color: #5C5B5D;
    padding: 20px 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    color: #5C5B5D;
    margin: 0;

}

header a {
    color: #AEED8A;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 5px;
    font-size: 22px;
}
/* header styling end */

/* hero styling start */ 
.hero {
    background-image: url("../files/hero-image.jpeg");
    height: 300px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero h2 {
    color: #AEED8A;
    position: absolute;
    bottom: 10px;
    right: 10px; 
}

/* hero styling end */

/* title styling start */ 
.section-title {
    font-size: 36px;
    color: #5C5B5D;
    padding: 25px;
    width: 15%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* title styling end */

/* about me styling start */

/* about me styling end */

/* work styling start */
#work {
    display: flex;
}

.projects {
    border-left: solid;}

.projects h3 {
    position: absolute;
    background-color: #AEED8A;
    color:#5C5B5D;
}

.project-title {
    margin-left: 100px;
    margin-bottom: 25px;
}

.placeholder-imgs-1 {
    border: solid 3px #AEED8A;
    opacity: .5;
    transition: .4s;
    display: flex;
    width: 500px;
    height: 300px;
}

.placeholder-imgs-1:hover {
    opacity: .7;
}

.images {
    width: 200px;
    height: 150px;
    border: solid 3px #AEED8A;
    opacity: .5;
    transition: .4s;
    margin-right: 50px;
}

.img {
    width: 200px;
    height:150px;
}

.placeholder-imgs-2, .placeholder-imgs-3 {
    display: flex;
    margin-left: 125px;
    margin-bottom: 25px;
}

/* work styling end */

/* my info styling start */
.my-info {
    color: #5C5B5D;
    margin: 0 100px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-evenly;
}
/* my info styling end */

/* about me styling starts */

/* about me styling end */ 