* {
    margin: 0;
    padding: 0;
}

body, body a{
    color: #5C5B5D;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

body a{
    text-decoration: underline;
}

/* header styling start */
header {
    background-color: #5C5B5D;
    padding: 20px 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    color: #5C5B5D;
    margin: 0;
    display: inline;
}

header a {
    color: #AEED8A;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 5px;
    font-size: 22px;
}
/* header styling end */

/* hero styling start */ 
.hero {
    background-image: url("../files/hero-image.jpeg");
    height: 300px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero h2 {
    color: #AEED8A;
    position: absolute;
    bottom: 10px;
    right: 10px; 
}

/* hero styling end */

/* title styling start */ 
.section-title {
    font-size: 36px;
    border-right: solid;
    color: #5C5B5D;
    padding: 25px;
    width: 15%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* title styling end */

/* my info styling start */
.my-info {
    color: #5C5B5D;
    margin: 0 100px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-evenly;
}
/* my info styling end */

/* about me styling starts */

/* about me styling end */ 